{% extends "home/header.html" %}
{% block PageContent %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-body">
                    <h2 class="text-success">
                        Welcome {{ controller.user_logged_in.name }}
                    </h2>
                </div>
                <div class="panel-heading">
                    <h4>
                        Here you'll (soon) be able to visualise data either on fancy charts, or even maps.
                    </h4>
                </div>
            </div>

        </div>
    </div>
{% endblock %}