{% extends "home/index.html" %}
{% block Header %}
    <div class="header">
        <h2>
            <a href="{{ url_for('home.index') }}">Visualiser</a>
        </h2>

        <ul>
            <li>
                <a href="{{ url_for('home.settings') }}">Settings</a>
            </li>
            <li>
                <a href="{{ url_for('maps.index') }}">Maps</a>
            </li>
            <li>
                <a href="{{ url_for('charts.index') }}">Charts</a>
            </li>
        </ul>
    </div>
    <!--Blocks to include(should include home application modules.-->
    {% block PageContent %}
    {%  endblock %}

    <div class="footer">
    <h5><strong>Created by:</strong> Radosław Potyka</h5>
    </div>
{% endblock %}